@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937; /* Dark Gray */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4f46e5; /* Purple */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4338ca; /* Darker Purple on hover */
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
/* Hide scrollbars but keep scroll functionality */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
@media print {
  body * {
    visibility: hidden !important;
  }

  #receiptPrintArea,
  #receiptPrintArea * {
    visibility: visible !important;
  }

  #receiptPrintArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
  }
}
@keyframes flashBg {
  0% {
    background-color: #ffdddd;
  }
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: #ffdddd;
  }
}
